[submodule "public"]
	path = public
	url = https://github.com/vvuri/vvuri.github.io.git
	branch = master
[submodule "vvuri.github.io"]
	path = vvuri.github.io
	url = https://github.com/vvuri/vvuri.github.io.git
	branch = master
